<form>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Nome</label>
      <div class="col-sm-10">
        <input data-model="name" type="text" class="form-control" id="name" placeholder="Fulano de Tal">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Number</label>
      <div class="col-sm-10">
        <input data-model="number" type="text" class="form-control" id="inputPassword" placeholder="Number">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2" @click="teste($event)">Confirm</button>
  </form>
