h1.title {
    text-align: center;
}

div.editForm {
    height: 4rem;
    width: 25rem;
    margin: auto;
    margin-top: 20px;
}

button {
    margin-top: 20px !important;
    float: right;
}

input {
    margin-bottom: 10px !important;
}