h1 {
    text-align: center;
    margin: 10px;
}

.table-container {
    width: 30rem;
    height: 25rem;
    margin: 0 auto;
    margin-top: 50px;
    overflow-y: scroll;
}

.form-container {
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
    margin-top: 50px;
}

.form-container input {
    margin-bottom: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-items: space-between;
}